<div class="tabs">
  <button class="tab-button active" onclick="showGrid('sql')">SQL</button>
  <button class="tab-button" onclick="showGrid('r')">R</button>
</div>

<div class="grid-container" id="sql-grid">
  <section class="grid">
    {% for project in site.projects %}
      {% if project.category == "SQL" %}
        <button class="challenge-card" onclick="location.href='{{ project.link }}'">
          <h2>{{ project.title }}</h2>
          <p><strong>Platform:</strong> {{ project.platform }}</p>
          <p><strong>Difficulty:</strong> {{ project.difficulty }}</p>
          <p><strong>Tags:</strong>
            {% for tag in project.tags %}
              <span>{{ tag }}</span>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </p>
        </button>
      {% endif %}
    {% endfor %}
  </section>
</div>

<div class="grid-container hidden" id="r-grid">
  <section class="grid">
    {% for project in site.projects %}
      {% if project.category == "R" %}
        <button class="challenge-card" onclick="location.href='{{ project.link }}'">
          <h2>{{ project.title }}</h2>
          <p><strong>Platform:</strong> {{ project.platform }}</p>
          <p><strong>Difficulty:</strong> {{ project.difficulty }}</p>
          <p><strong>Tags:</strong>
            {% for tag in project.tags %}
              <span>{{ tag }}</span>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
          </p>
        </button>
      {% endif %}
    {% endfor %}
  </section>
</div>

