<div id="sidebar">
    <img src="{{ '/assets/images/profile_pic.jpg' | relative_url }}" alt="Profile picture of Your Name" class="profile-photo">
    <ul>
        <li><a href="https://github.com/gotjon05" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        <li><a href="https://linkedin.com/in/gotjon05" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        <li><a href="https://bsky.app/profile/gotjon.bsky.social" target="_blank" rel="noopener noreferrer">BlueSky</a></li>
        <li><a href="mailto:you@example.com">Email</a></li>
    </ul>
</div>

