/* Tabs */
.tabs {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 2rem 0;
}

.tab-button {
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #ccc;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.tab-button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
    transform: scale(1.1);
}

.tab-button:hover {
    background-color: #575757;
    color: #fff;
    transform: scale(1.05);
}

