<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="{% if page.url contains '/projects/' %}project-page{% endif %}">
    <!-- Navbar Container (Fixed at the top) -->
    <div class="navbar-container">
        {% include navbar.html %}
    </div>

    <!-- Layout Container for Sidebar and Main Content -->
    <div class="layout-container">
        <!-- Sidebar -->
        <div class="sidebar">
            {% include sidebar.html %}
        </div>

        <!-- Main Content -->
        <div class="main-content">
            {{ content }}
        </div>
    </div>

    <!-- Reference JavaScript File -->
    <script src="/assets/js/script.js"></script>
</body>
</html>

